<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>dakken-forum</title>
        <link rel="stylesheet" href="static/css/style.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-logo">
                <a href="{{ url_for('index') }}">DA研の掲示板</a>
            </div>
            <div class="header-links">
                <ul>
                    <li>
                        <a href="{{ url_for('about') }}">about</a>
                    </li>
                    <li>
                        <a href="/admin">admin</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <ul class="footer-links">
                <li>
                    <a href="https://uoh-dakken.com/">データ分析研究会(DA研)</a>
                </li>
                <li>
                    <a href="https://www.u-hyogo.ac.jp/">兵庫県立大学</a>
                </li>
            </ul>
        </footer>
    </body>
</html>