{% extends 'base.html' %}

{% block body %}

<hr>
<p class="announcement">
  書き込みの前に<a href="/about">投稿のルール</a>をお読みください．
</p>

<div class="container">
  <form action="/" method="post">
    <div class="card">
      <textarea class="form-control" name="content" placeholder="オープンキャンパスはどうでしたか？" id="floatingTextarea">{{draft}}</textarea>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <h6 class="message">{{ message }}</h6>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <button type="submit" class="btn btn-outline-primary" align="right">書き込む</button>
  </form>
  {% for post in posts %}
  <div class="card">
      <div class="card-body" style="background-color: {{ layer(post.emotion_value, 4) }}">
        <h6 class="card-title">{{ post.content }}</h6>
        <a> {{ classifier(post.emotion_value) }}</a>
        <a class="card-emotion">感情値: {{ post.emotion_value }}</a>
        <a class="card-date">{{ formatter(post.created_at, now) }}</a>
      </div>
  </div>
  {% endfor %}
</div>

<hr>
{% endblock %}
