{% extends 'base.html' %}

<!-- main block -->
{% block main %}
<section class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
  <h2 class="text-4xl font-bold dark:text-white">コメント投稿のルール</h2>
  <p class="mb-3 text-gray-500 dark:text-gray-400 mt-5">
    利用者の皆様がお互いに気持ちよくこのサイトをご利用いただくためのルールです。コメントを投稿される前に必ずお読みください。
  </p>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">はじめに</h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>投稿された内容の修正・削除の依頼には応じられません。</li>
    <li>投稿は事前の通告なくサイト運営者が削除できるものとします。</li>
    <li>
      投稿された情報（以下、「投稿情報」といいます）の著作権、およびその他の権利は投稿者にあります。
    </li>
    <li>
      ただし、投稿者は、当社が投稿情報を自由に利用すること（必要に応じて、かつ適正な範囲で省略したり要約するなどの変更を含みます）を、無償で、無期限に、地域の限定無く了承するものとし、これについての著作者人格権を主張しないものとします。
    </li>
    <li>投稿によるご質問やお問い合わせには対応いたしかねます。</li>
    <li>
      本サイトに対するご質問、お問い合わせ、ご報告は、お問い合わせ窓口
      (xxx.gmail.com) までお寄せください。
    </li>
  </ul>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">
    プライバシーはご自身でお守りください
  </h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>個人を特定できる情報は投稿しないでください。</li>
    <li>個人の行動が把握されるような情報を投稿しないでください。</li>
  </ul>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">
    個人攻撃や誹謗中傷はおやめください
  </h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>
      他の投稿者や特定の個人・団体を侮辱，誹謗中傷する投稿はおやめください。
    </li>
    <li>
      他の投稿者および第三者のプライバシーを侵害する投稿はおやめください。
    </li>
  </ul>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">
    宣伝・広告など営利を目的とする投稿はおやめください
  </h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>特定の団体、組織への加入を勧誘する内容の投稿はおやめください。</li>
  </ul>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">
    他の方が不愉快になる表現や投稿はお控えください
  </h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>
      卑猥な表現、暴力的あるいは残虐な表現、差別的な表現は慎んでください。
    </li>
  </ul>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">
    法に触れるおそれがある投稿はおやめください
  </h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>
      法令もくしは刑罰法規に違反する（あるいは違反するおそれのある）投稿、および他サイトへのリンク行為はおやめください。
    </li>
  </ul>
  <br />
  <h3 class="text-3xl font-bold dark:text-white">
    投稿はサービス向上の目的で活用させていただく場合があります
  </h3>
  <ul
    class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mt-3"
  >
    <li>
      投稿は，今後のサービス運営における参考資料として用いることがあります。あらかじめご了承ください。
    </li>
  </ul>

  <br />
</section>
{% endblock %}
<!-- endblock -->
